{#
#############################
SECTION_1: DOMAIN INFORMATION
#############################
#}
ip domain-name [ReplaceThisValueWith:CORPORATE_DOMAIN_NAME]
!
{#
##############################
SECTION_2: LOCAL USER DATABASE
##############################
#}
hostname {{ hostname }}
username [ReplaceThisValueWith:MGMT_USERNAME] priv 0 algorithm scrypt secret {{ sitePass }}
no username admin
no username cisco
no username webadmin
!
{#
####################################
SECTION_3: DISABLE UNWANTED FEATURES
####################################
#}
!
no service config
no service call-home
no ip gratuitous-arps
no ip bootp server
no ip http server
no ip http secure-server
{% if devType == "Switch_NON_NEXUS" -%}
no vstack
{% endif -%}
!
{#
#################################
SECTION_4: GENERIC CONFIGURATIONS
#################################
#}
service password-encryption
service sequence-numbers
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec show-timezone
service timestamps log datetime msec show-timezone
no enable password
enable secret 5 [ReplaceThisValueWith:ENABLE_SECRET_HASHED_MD5]
enable algorithm-type scrypt secret [ReplaceThisValueWith:ENABLE_SECRET_CLEARTEXT]
ip dhcp bootp ignore
ip icmp rate-limit unreachable 1000
ip tcp synwait-time 10
no boot network
no ip gratuitous-arps
no ip mask-reply
no ip source-route
clock timezone GMT 0
no clock summer-time
no ip domain-lookup
no ip name-server
!
{#
###########################################
SECTION_5: LINE CONFIGURATION - PART 1 OF 2
###########################################
#}
!
line aux 0
password [ReplaceThisValueWith:VTY_LINE_PASSWORD]
transport input none
exec-timeout 0 1
no exec
!
line console 0
exec-timeout 9 59
password [ReplaceThisValueWith:VTY_LINE_PASSWORD]
logging synchronous
!
line vty 0 4
password [ReplaceThisValueWith:VTY_LINE_PASSWORD]
exec-timeout 9 59
!
line vty 5 15
password [ReplaceThisValueWith:VTY_LINE_PASSWORD]
exec-timeout 9 59
!
{#
#################################
SECTION_6: BASE NTP CONFIGURATION
#################################
#}
!
ntp authenticate
ntp authentication-key 1 md5 [ReplaceThisValueWith:NTP_PASSWORD]
ntp trusted-key 1
ntp source {{ mgmt_Int }}
!
{#
#########################
SECTION_7: SYSTEM BANNERS
#########################
#}
!
no banner exec
no banner login
no banner motd
banner login ^
[ReplaceThisValueWith:LOGIN_BANNER_MESSAGE]
^
!
{#
###############################
SECTION_8: SNMPv3 CONFIGURATION
###############################
#}
!
no snmp-server system-shutdown
no snmp-server trap-timeout 180
snmp-server packetsize 1400
snmp-server queue-length 20
!
snmp-server contact {{ snmp_contact }} (Phone: {{ snmp_contact_phone }})
!
snmp-server view MGMTview interfaces included
snmp-server view MGMTview internet included
snmp-server view MGMTview chassis included
snmp-server view MGMTview system included
snmp-server view MGMTview mib-2 included
snmp-server view MGMTview iso included
snmp-server ifindex persist
!
no snmp-server group {{ snmp_READrole }} v3 auth read MGMTview
no snmp-server group {{ snmp_WRITErole }} v3 auth write MGMTview
snmp-server group {{ snmp_READrole }} v3 priv read MGMTview access {{ snmp_READuserACL }}
snmp-server group {{ snmp_WRITErole }} v3 priv write MGMTview access {{ snmp_WRITEuserACL }}
snmp-server group {{ snmp_READrole }} v3 priv context vlan- match prefix
snmp-server group {{ snmp_WRITErole }} v3 priv context vlan- match prefix
{{ snmp_location }}
!
{#
#################################
SECTION_9: SNMPv3 USER MANAGEMENT
#################################
#}
!
snmp-server user {{ snmp_READuser }} {{ snmp_READrole }} v3 auth sha {{ snmp_READauthPW }} priv aes 128 {{ snmp_READprivPW }} access {{ snmp_READuserACL }}
snmp-server user {{ snmp_WRITEuser }} {{ snmp_WRITErole }} v3 auth sha {{ snmp_WRITEauthPW }} priv aes 128 {{ snmp_WRITEprivPW }} access {{ snmp_WRITEuserACL }}
!
{#
######################################
SECTION_10: BASE LOGGING CONFIGURATION
######################################
#}
!
logging on
logging buffered 10000 informational
logging trap informational
logging facility local6
no logging console
no logging monitor
!
logging discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME] severity includes 5 facility includes SYS mnemonics includes RELOAD|RESTART|CONFIG
!
logging source-interface {{ mgmt_Int }}
{#
##################################################
SECTION_11: SNMP USER ACCESS CONFIGURATION  - ACLs
##################################################
#}
!
{% if networkType == "UNDERLAYv2" -%}
ip access-list resequence {{ snmp_READuserACL }} 50 10
ip access-list standard {{ snmp_READuserACL }}
remark SNMP {{ snmp_READrole }} access
1 permit host [ReplaceThisValueWith:x.x.x.x]
2 permit host [ReplaceThisValueWith:x.x.x.x]
ip access-list resequence {{ snmp_READuserACL }} 10 10
!
ip access-list resequence {{ snmp_WRITEuserACL }} 50 10
ip access-list standard {{ snmp_WRITEuserACL }}
remark SNMP {{ snmp_writerole }} access
1 permit host [ReplaceThisValueWith:x.x.x.x] log
2 permit host [ReplaceThisValueWith:x.x.x.x] log
3 permit host [ReplaceThisValueWith:x.x.x.x] log
4 permit host [ReplaceThisValueWith:x.x.x.x] log
ip access-list resequence {{ snmp_WRITEuserACL }} 10 10
!
{% elif networkType == "UNDERLAY" -%}
ip access-list resequence {{ snmp_READuserACL }} 50 10
ip access-list standard {{ snmp_READuserACL }}
remark SNMP {{ snmp_READrole }} access
1 permit host [ReplaceThisValueWith:x.x.x.x]
2 permit host [ReplaceThisValueWith:x.x.x.x]
3 permit host [ReplaceThisValueWith:x.x.x.x]
ip access-list resequence {{ snmp_READuserACL }} 10 10
!
ip access-list resequence {{ snmp_WRITEuserACL }} 50 10
ip access-list standard {{ snmp_WRITEuserACL }}
remark SNMP {{ snmp_WRITErole }} access
1 permit host [ReplaceThisValueWith:x.x.x.x] log
2 permit host [ReplaceThisValueWith:x.x.x.x] log
3 permit host [ReplaceThisValueWith:x.x.x.x] log
4 permit host [ReplaceThisValueWith:x.x.x.x] log
ip access-list resequence {{ snmp_WRITEuserACL }} 10 10
!
{% elif networkType == "OVERLAY" or networkType == "COMMERCIAL" -%}
ip access-list resequence {{ snmp_READuserACL }} 50 10
ip access-list standard {{ snmp_READuserACL }}
remark SNMP {{ snmp_READrole }} access
1 permit host [ReplaceThisValueWith:x.x.x.x]
2 permit host [ReplaceThisValueWith:x.x.x.x]
3 permit host [ReplaceThisValueWith:x.x.x.x]
4 permit host [ReplaceThisValueWith:x.x.x.x]
5 permit host [ReplaceThisValueWith:x.x.x.x]
ip access-list resequence {{ snmp_READuserACL }} 10 10
!
ip access-list resequence {{ snmp_WRITEuserACL }} 50 10
ip access-list standard {{ snmp_WRITEuserACL }}
remark SNMP {{ snmp_WRITErole }} access
1 permit host [ReplaceThisValueWith:x.x.x.x] log
2 permit host [ReplaceThisValueWith:x.x.x.x] log
3 permit host [ReplaceThisValueWith:x.x.x.x] log
4 permit host [ReplaceThisValueWith:x.x.x.x] log
ip access-list resequence {{ snmp_WRITEuserACL }} 10 10
!
{% else -%}
ip access-list resequence {{ snmp_READuserACL }} 50 10
ip access-list standard {{ snmp_READuserACL }}
remark SNMP {{ snmp_READrole }} access
1 permit host [ReplaceThisValueWith:x.x.x.x]
2 permit host [ReplaceThisValueWith:x.x.x.x]
3 permit host [ReplaceThisValueWith:x.x.x.x]
4 permit host [ReplaceThisValueWith:x.x.x.x]
5 permit host [ReplaceThisValueWith:x.x.x.x]
ip access-list resequence {{ snmp_READuserACL }} 10 10
!
ip access-list resequence {{ snmp_WRITEuserACL }} 50 10
ip access-list standard {{ snmp_WRITEuserACL }}
remark SNMP {{ snmp_WRITErole }} access
1 permit host [ReplaceThisValueWith:x.x.x.x] log
2 permit host [ReplaceThisValueWith:x.x.x.x] log
3 permit host [ReplaceThisValueWith:x.x.x.x] log
4 permit host [ReplaceThisValueWith:x.x.x.x] log
ip access-list resequence {{ snmp_WRITEuserACL }} 10 10
!
{% endif -%}
{#
###################
SECTION_12: VTY ACL
###################
#}
!
{% if networkType == "UNDERLAYv2" -%}
ip access-list resequence [ReplaceThisValueWith:VTY_ACL] 50 10
ip access-list standard [ReplaceThisValueWith:VTY_ACL]
remark VTY Access
1 permit host [ReplaceThisValueWith:x.x.x.x] log
2 permit host [ReplaceThisValueWith:x.x.x.x] log
3 permit host [ReplaceThisValueWith:x.x.x.x] log
4 permit [ReplaceThisValueWith:x.x.x.x x.x.x.x] log
5 permit [ReplaceThisValueWith:x.x.x.x x.x.x.x] log
ip access-list resequence [ReplaceThisValueWith:VTY_ACL] 10 10
!
{% elif networkType == "UNDERLAY" -%}
ip access-list resequence [ReplaceThisValueWith:VTY_ACL] 50 10
ip access-list standard [ReplaceThisValueWith:VTY_ACL]
remark VTY Access
1 permit host [ReplaceThisValueWith:x.x.x.x] log
2 permit host [ReplaceThisValueWith:x.x.x.x] log
3 permit host [ReplaceThisValueWith:x.x.x.x] log
4 permit [ReplaceThisValueWith:x.x.x.x x.x.x.x] log
5 permit [ReplaceThisValueWith:x.x.x.x x.x.x.x] log
ip access-list resequence [ReplaceThisValueWith:VTY_ACL] 10 10
!
{% elif networkType == "OVERLAY" or networkType == "COMMERCIAL" -%}
ip access-list resequence [ReplaceThisValueWith:VTY_ACL] 50 10
ip access-list standard [ReplaceThisValueWith:VTY_ACL]
remark VTY Access
1 permit host [ReplaceThisValueWith:x.x.x.x] log
2 permit host [ReplaceThisValueWith:x.x.x.x] log
3 permit host [ReplaceThisValueWith:x.x.x.x] log
4 permit [ReplaceThisValueWith:x.x.x.x x.x.x.x] log
5 permit [ReplaceThisValueWith:x.x.x.x x.x.x.x] log
ip access-list resequence [ReplaceThisValueWith:VTY_ACL] 10 10
!
{% else -%}
ip access-list resequence [ReplaceThisValueWith:VTY_ACL] 50 10
ip access-list standard [ReplaceThisValueWith:VTY_ACL]
remark VTY Access
1 permit host [ReplaceThisValueWith:x.x.x.x] log
2 permit host [ReplaceThisValueWith:x.x.x.x] log
3 permit host [ReplaceThisValueWith:x.x.x.x] log
4 permit [ReplaceThisValueWith:x.x.x.x x.x.x.x] log
5 permit [ReplaceThisValueWith:x.x.x.x x.x.x.x] log
ip access-list resequence [ReplaceThisValueWith:VTY_ACL] 10 10
!
{% endif -%}
{#
##################
SECTION_13: SYSLOG
##################
#}
{% if networkType == "UNDERLAYv2" and vrf_check == "yes" -%}
logging host [ReplaceThisValueWith:x.x.x.x] vrf {{ vrf_name }} discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] vrf {{ vrf_name }} discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] vrf {{ vrf_name }} discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
{{ syslogSyntax }}
!
{% elif networkType == "UNDERLAYv2" -%}
logging host [ReplaceThisValueWith:x.x.x.x] discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
{{ syslogSyntax }}
!
{% elif networkType == "UNDERLAY" and vrf_check == "yes" -%}
logging host [ReplaceThisValueWith:x.x.x.x] vrf {{ vrf_name }} discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] vrf {{ vrf_name }} discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] vrf {{ vrf_name }} discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
{{ syslogSyntax }}
!
{% elif networkType == "UNDERLAY" -%}
logging host [ReplaceThisValueWith:x.x.x.x] discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
{{ syslogSyntax }}
!
{% elif networkType == "OOB" and vrf_check == "yes" -%}
logging host [ReplaceThisValueWith:x.x.x.x] vrf {{ vrf_name }} discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] vrf {{ vrf_name }} discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] vrf {{ vrf_name }} discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
{{ syslogSyntax }}
!
{% elif networkType == "OOB" -%}
logging host [ReplaceThisValueWith:x.x.x.x] discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
{{ syslogSyntax }}
!
{% elif networkType != "OOB" and vrf_check == "yes" -%}
logging host [ReplaceThisValueWith:x.x.x.x] vrf {{ vrf_name }} discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] vrf {{ vrf_name }} discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] vrf {{ vrf_name }} discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
{{ syslogSyntax }}
!
{% elif networkType != "OOB" -%}
logging host [ReplaceThisValueWith:x.x.x.x] discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
logging host [ReplaceThisValueWith:x.x.x.x] discriminator [ReplaceThisValueWith:SYSLOG_DISCRIMINATOR_NAME]
{{ syslogSyntax }}
!
{% endif -%}
{#
##########################################################################
SECTION_14: PREVENT DEVICE LOCKOUT (TEMPORARILY WHILE CONFIG GETS APPLIED)
##########################################################################
#}
no aaa authorization console
aaa authorization exec default none
no aaa authorization config-commands
aaa authorization commands 15 default none
aaa authorization commands 0 default none
aaa authentication login default local
aaa authentication enable default none
line vty 0 4
no login authentication
!
no tacacs-server host {{ AAA_PRI }}
no tacacs-server host {{ AAA_SEC }}
no tacacs-server key
aaa group server tacacs+ [ReplaceThisValueWith:TACACS_GROUP_NAME]
no server-private {{ AAA_PRI }}
no server-private {{ AAA_SEC }}
!
{#
################################
SECTION_15: TACACS CONFIGURATION
################################
#}
aaa new-model
!
tacacs server [ReplaceThisValueWith:NAME_OF_PRIMARY_AAA_SERVER]
address ipv4 {{ AAA_PRI }}
key [ReplaceThisValueWith:SHARED_SECRET_PASSWORD]
single-connection
!
tacacs server [ReplaceThisValueWith:NAME_OF_SECONDARY_AAA_SERVER]
address ipv4 {{ AAA_SEC }}
key [ReplaceThisValueWith:SHARED_SECRET_PASSWORD]
single-connection
!
aaa group server tacacs+ [ReplaceThisValueWith:TACACS_GROUP_NAME]
server name [ReplaceThisValueWith:NAME_OF_PRIMARY_AAA_SERVER]
server name [ReplaceThisValueWith:NAME_OF_SECONDARY_AAA_SERVER]
!
ip tacacs source-interface {{ mgmt_Int }}
{% if vrf_check == "yes" -%} 
ip vrf forwarding {{ vrf_name }}
{% endif -%}
!
{#
#############################
SECTION_16: NTP CONFIGURATION
#############################
#}
ntp server {{ NTP_1 }} key 1 prefer
ntp server {{ NTP_2 }} key 1
ntp server {{ NTP_3 }} key 1
ntp server {{ NTP_4 }} key 1
!
{#
#################################
SECTION_17: NetFlow CONFIGURATION
#################################
#}
{% if networkType == "UNDERLAYv2" -%}
flow exporter [ReplaceThisValueWith:EXPORT_NAME]
destination [ReplaceThisValueWith:x.x.x.x]
transport udp [ReplaceThisValueWith:PORT_NUMBER]
source {{ mgmt_Int }}
!
flow monitor [ReplaceThisValueWith:MONITOR_NAME]
exporter [ReplaceThisValueWith:EXPORT_NAME]
cache timeout active 1
record netflow ipv4 original-input
!
{% elif networkType == "UNDERLAY" -%}
flow exporter [ReplaceThisValueWith:EXPORT_NAME]
destination [ReplaceThisValueWith:x.x.x.x]
transport udp [ReplaceThisValueWith:PORT_NUMBER]
source {{ mgmt_Int }}
!
flow monitor [ReplaceThisValueWith:MONITOR_NAME]
exporter [ReplaceThisValueWith:EXPORT_NAME]
cache timeout active 1
record netflow ipv4 original-input
!
{% else -%}
flow exporter [ReplaceThisValueWith:EXPORT_NAME]
destination [ReplaceThisValueWith:x.x.x.x]
transport udp [ReplaceThisValueWith:PORT_NUMBER]
source {{ mgmt_Int }}
!
flow monitor [ReplaceThisValueWith:MONITOR_NAME]
exporter [ReplaceThisValueWith:EXPORT_NAME]
cache timeout active 1
record netflow ipv4 original-input
!
{% endif -%}
{#
############################################
SECTION_18: LINE CONFIGURATION - Part 2 of 2
############################################
#}
{% if vrf_check == "yes" -%}
line vty 0 4
transport input ssh
access-class [ReplaceThisValueWith:VTY_ACL] in vrf-also
!
line vty 5 15
transport input ssh
access-class [ReplaceThisValueWith:VTY_ACL] in vrf-also
!
{% else -%}
line vty 0 4
transport input ssh
access-class [ReplaceThisValueWith:VTY_ACL] in
!
line vty 5 15
transport input ssh
access-class [ReplaceThisValueWith:VTY_ACL] in
!
{% endif -%}
{#
#############################
SECTION_19: AAA CONFIGURATION
#############################
#}
no tacacs-server directed-request
!
aaa accounting update newinfo
aaa accounting exec default start-stop group [ReplaceThisValueWith:TACACS_GROUP_NAME]
aaa accounting commands 0 default stop-only group [ReplaceThisValueWith:TACACS_GROUP_NAME]
aaa accounting commands 15 default start-stop group [ReplaceThisValueWith:TACACS_GROUP_NAME]
aaa accounting connection default start-stop group [ReplaceThisValueWith:TACACS_GROUP_NAME]
aaa accounting system default start-stop group [ReplaceThisValueWith:TACACS_GROUP_NAME]
!
aaa authentication login default group [ReplaceThisValueWith:TACACS_GROUP_NAME] local
aaa authentication enable default group [ReplaceThisValueWith:TACACS_GROUP_NAME] none
!
line console 0
login authentication default
line vty 0 4
login authentication default
line vty 5 15
login authentication default
!
aaa authorization exec default group [ReplaceThisValueWith:TACACS_GROUP_NAME] if-authenticated
aaa authorization commands 0 default group [ReplaceThisValueWith:TACACS_GROUP_NAME] if-authenticated
aaa authorization commands 15 default group [ReplaceThisValueWith:TACACS_GROUP_NAME] if-authenticated
aaa authorization console
aaa authorization config-commands
!
